.input {
    width: 90%;
    height: 20%;
    border: none;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid #DADDEC;
    margin: 0px -5px 0px -5px;
    font-size: 1rem;
    color: #656880;
}