.description {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    text-align: center;
    background-color: #c1cefe;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    background-color: #a0ddff;
    text-align: center;
    justify-content: flex-end;
    padding: 20px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: xx-large;
    font-weight: bold;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#amenitiesRatings {
    flex-wrap: wrap;
}

.hotelRoomListings {
    background: #a0ddff;
    border-radius: 20px;
    border: solid #7189ff;
    border-width: 5px;
}

.hotelDetails {
    position: absolute;
    left: 650px;
    top: 200px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 20px;
}

.hotelRoomDetails {
    position: relative;
    left: 650px;
    bottom: 320px;
    
}

.roomBreakfastDetail.bookRoom {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.hotelName {
    font-weight: bold;
}

.hotelAddress {

}

.hotelRatings {

}

.roomBreakfastDetail {
    font-weight: bold;
}